article{
  padding: 50px 127px;
  border: 2px solid red;
  background-position-y:50%;
  background-size: cover;
  h1{
    font-size: 45px;
    width: 70%;
    transition: all 0.5s ease-in-out;
    &:hover{
      font-size: 55px;
      background: linear-gradient(to right,#53c1de,#80bd01,#333333);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      letter-spacing: 3px;
    }
  }
}


article div{
  width: 100%;
  margin-top:20px;
  display: flex;
  align-content:center;
  justify-content: space-between;
  padding: 10px;
  gap: 20px;
  img{
    width: 100px;
    transition: all 1s ease-in-out;
    &:hover{
      rotate: 360deg;
      transform: scale(1.3);
    }
  }
}