*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}

nav{
  display:flex;
  align-items: center;
  background-image: linear-gradient(#76ABAE , #eeeeee);
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 30px;
  width:100vw;
  position: sticky;
  top: 0px;
}

nav div{
  display:flex;
  justify-content: space-between;
  padding-right:10%;
  width: 30%;
}

/* extra colors:222831,31363F */

a{
  color: #050505;
}

#logo{
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  padding-left: 10%;
  width: 70%;
  transition: all 1s ease-in-out;
  h1,p{
    display: inline-block;
    transition: all 1s ease;
  }
  h1:hover{
      rotate: 360deg;  
  }
  &:hover{
    letter-spacing: 1px;
    font-size:22px;
  }
}

nav div a{
  display:flex;
  justify-content:center;
  font-size:16px;
  font-weight: 600;
  border-radius:10px;
  transition: all 1s ease-in-out;
}


nav div a:hover{
  font-size:20px;
}